<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title>Template</title>
  </head>
  <body>
    <div class="header">
      <img src="../src/assets/logo.jpg" alt="logo" class="logo" />
      <div class="company-info">
        <div class="company-name">Avi Electric Motors</div>
        <div class="address">Plot No. A-72, MIDC, Ahmednagar - 414 111</div>
        <div>
          <span class="website">website - aviemotors.com,</span>
          <span class="email">email - info@aviemotors.com</span>
        </div>
        <div>
          <span class="mobile">Mobile : 9168403232,</span>
          <span class="gst">GSTN - 27ACSPK2836L1Z0</span>
        </div>
      </div>
    </div>
    <div class="delivery-challan-title">DELIVERY CHALLAN</div>
    <div class="body">
      <div class="container">
        <div class="challan-info">
          <div class="customer-info">
            <div class="customer-name">
              <span>Customer Name :</span>
              <span id="customer-name"></span>
            </div>
            <div class="customer-address">
              <span>Customer Address :</span>
              <span id="customer-address"></span>
            </div>
            <div class="customer-gst-no">
              <span>GST No :</span>
              <span id="gst-no"></span>
            </div>
          </div>

          <div class="po-info">
            <div class="po-info-row">
              <div>
                <span class="po-info-label left-label">Challan No :</span>
                <span class="po-info-value" id="challan-no"></span>
              </div>
              <div>
                <span class="po-info-label right-label">Date :</span>
                <span class="po-info-value" id="challan-date"></span>
              </div>
            </div>
            <div class="po-info-row">
              <div>
                <span class="po-info-label left-label">P.O. No :</span>
                <span class="po-info-value" id="po-no"></span>
              </div>
              <div>
                <span class="po-info-label right-label">Date :</span>
                <span class="po-info-value" id="po-date"></span>
              </div>
            </div>
            <div>
              <span class="po-info-label">Customer Code :</span>
              <span class="po-info-value" id="customer-code"></span>
            </div>
          </div>
        </div>
        <table>
          <thead>
            <tr>
              <th class="sr-no-header">Sr. No.</th>
              <th class="description-header">Description</th>
              <th class="second-header item-no-header">Item No.</th>
              <th class="second-header quantity-header">Qty.</th>
              <th class="second-header value-header">Value</th>
              <th class="second-header remark-header">Remark</th>
            </tr>
          </thead>
          <tbody id="challan-table-body"></tbody>
        </table>
      </div>
    </div>
    <div class="footer">
      <div class="space"></div>
      <div class="labels">
        <span>Receiver's Sign. With Stamp</span>
        <span>For <b>Avi Electric Motors</b></span>
      </div>
    </div>
    <script src="./script.js" defer></script>
  </body>
</html>
