body {
  width: 210mm;
  height: 297mm;
  border: 0.5mm solid black;
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: auto;
  margin-top: 5mm;
  column-gap: 5mm;
}

.logo {
  margin-right: auto;
}

.company-info {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.company-name {
  font-size: 8mm;
  font-weight: bolder;
}

.gst {
  font-weight: bold;
}

.delivery-challan-title {
  margin: auto;
  margin-top: 5mm;
  padding: 1.5mm 4mm;
  /* background-color: black; */
  /* color: white; */
  border: 1mm solid black;
  border-radius: 3mm;
  width: fit-content;
}

.body {
  /* background-color: red; */
  /* height: 90%; */
  margin-top: 5mm;
  padding-left: 10mm;
  padding-right: 10mm;
}

.container {
  /* background-color: green; */
  /* height: 100%; */
}

.challan-info {
  display: flex;
  /* border: 0.5mm solid black; */
  /* border-radius: 2mm; */
  /* background-color: green; */
  /* padding: 3mm; */
}

.challan-info > div {
  flex: 1;
  border: 0.7mm solid black;
  border-bottom: none;
  padding: 2mm;
}

.customer-info {
  /* background-color: red; */
  /* border-right-width: 0.25mm; */
  border-right-width: 0 !important;
  border-top-left-radius: 3mm;
  display: flex;
  flex-direction: column;
  row-gap: 1mm;
  /* background-color: red; */
}

.customer-info > div {
  /* background-color: yellow; */
}

.po-info {
  /* background-color: yellow; */
  /* border-left-width: 0 !important; */
  border-top-right-radius: 3mm;
}

.po-info-row {
  display: flex;
  justify-content: space-between;
  /* background-color: blue; */
  margin-bottom: 1mm;
  column-gap: 5mm;
}

.po-info-row > div {
  /* background-color: yellow; */
  flex: 1;
  display: flex;
  /* justify-content: space-between; */
}

.po-info-label {
  margin-right: 3mm;
  /* background-color: red; */
  /* flex: 2; */
  /* width: 22mm; */
}

.po-info-label.left-label {
  /* flex: 1; */
  width: 22mm;
}

.po-info-label.right-label {
  /* flex: 1; */
  width: 12mm;
}

.po-info-value {
  /* background-color: green; */
  /* flex: 1; */
}

table,
tr,
td,
th {
  border: 0.5mm solid black;
  border-collapse: collapse;
}

table {
  width: 100%;
  /* border-top: none; */
  border-right: none;
  border-width: 0.7mm;
}

th {
  padding: 1mm;
}

#challan-table-body tr {
  height: 5mm;
}

.sr-no-header {
  /* width: 10mm; */
  width: 7%;
}

.description-header {
  width: 43%;
}

.item-no-header {
  width: 15%;
}

.quantity-header {
  width: 10%;
}

.value-header {
  width: 12.5%;
}

.remark-header {
  width: 12.5%;
}

tr > td {
  padding: 1mm;
}

.sr-no,
.item-no,
.quantity,
.value,
.remark {
  text-align: center;
  /* vertical-align: baseline; */
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 5mm;
}

.description {
  padding-left: 2mm;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-height: 5mm;
  height: 15mm;
  border: none;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* td {
  line-height: 1em !important;
  max-width: 100px !important;
  height: 3em !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: normal !important;
  word-wrap: break-word !important;
} */

.space {
  height: 20mm;
}

.labels {
  padding: 5mm;
  display: flex;
  justify-content: space-between;
  padding: 10mm;
}
