<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title>Template</title>
  </head>
  <body>
    <div class="header">
      <img src="./logo.jpg" alt="logo" class="logo" />
      <div class="company-info">
        <div class="company-name">Avi Electric Motors</div>
        <div class="address">Plot No. A-72, MIDC, Ahmednagar - 414 111</div>
        <div>
          <span class="website">website - aviemotors.com,</span>
          <span class="email">email - info@aviemotors.com</span>
        </div>
        <div>
          <span class="mobile">Mobile : 9168403232,</span>
          <span class="gst">GSTN - 27ACSPK2836L1Z0</span>
        </div>
      </div>
    </div>
    <div class="delivery-challan-title">DELIVERY CHALLAN</div>
    <div class="body">
      <div class="container">
        <div class="challan-info">
          <div class="customer-info">
            <div class="customer-name">
              <span>Customer Name :</span>
              <span>Suraj Pressings</span>
            </div>
            <div class="customer-address">
              <span>Customer Address :</span>
              <span>G31, MIDC, Ahmednagar</span>
            </div>
            <div class="customer-gst-no">
              <span>GST No :</span>
              <span>27AAECS8900N1ZW</span>
            </div>
            <!-- <span>M/S</span>
            <span>AshTech</span> -->
          </div>

          <div class="po-info">
            <div class="po-info-row">
              <div>
                <span class="po-info-label left-label">Challan No :</span>
                <span class="po-info-value">5001</span>
              </div>
              <div>
                <span class="po-info-label right-label">Date :</span>
                <span class="po-info-value">09/04/2023</span>
              </div>
            </div>
            <div class="po-info-row">
              <div>
                <span class="po-info-label left-label">P.O. No :</span>
                <span class="po-info-value">2001</span>
              </div>
              <div>
                <span class="po-info-label right-label">Date :</span>
                <span class="po-info-value">05/04/2023</span>
              </div>
            </div>
            <div>
              <span class="po-info-label">Vendor Code :</span>
              <span class="po-info-value">5281629</span>
            </div>
          </div>
        </div>
        <table>
          <thead>
            <tr>
              <th class="sr-no-header">Sr. No.</th>
              <th class="description-header">Description</th>
              <th class="second-header item-no-header">Item No.</th>
              <th class="second-header quantity-header">Qty.</th>
              <th class="second-header value-header">Value</th>
              <th class="second-header remark-header">Remark</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="sr-no">1.</td>
              <td class="description">36 mm Din Rail</td>
              <td class="item-no">18A0001</td>
              <td class="quantity">2070</td>
              <td class="value">71</td>
              <td class="remark">(2 bag)</td>
            </tr>
            <tr>
              <td class="sr-no">2.</td>
              <td class="description">72 mm Din Rail</td>
              <td class="item-no">18A0002</td>
              <td class="quantity">1600</td>
              <td class="value">22</td>
              <td class="remark">(2 bag)</td>
            </tr>
            <tr>
              <td class="sr-no">3.</td>
              <td class="description">98 mm Din Rail</td>
              <td class="item-no">18A0016</td>
              <td class="quantity">250</td>
              <td class="value">13</td>
              <td class="remark">(1 bag)</td>
            </tr>
            <tr>
              <td class="sr-no">4.</td>
              <td class="description">116 mm Din Rail</td>
              <td class="item-no">18A0017</td>
              <td class="quantity">130</td>
              <td class="value">1</td>
              <td class="remark">(1 bag)</td>
            </tr>
            <tr>
              <td class="sr-no">5.</td>
              <td class="description">134 mm Din Rail</td>
              <td class="item-no">18A0018</td>
              <td class="quantity">40</td>
              <td class="value">39</td>
              <td class="remark">(1 bag)</td>
            </tr>
            <tr>
              <td class="sr-no">6.</td>
              <td class="description">170 mm Din Rail</td>
              <td class="item-no">18A0020</td>
              <td class="quantity">2410</td>
              <td class="value">55</td>
              <td class="remark">(7 bag)</td>
            </tr>
            <tr>
              <td class="sr-no">7.</td>
              <td class="description">242 mm Din Rail</td>
              <td class="item-no">18A0024</td>
              <td class="quantity">1670</td>
              <td class="value">40</td>
              <td class="remark">(5 bag)</td>
            </tr>
            <tr>
              <td class="sr-no">8.</td>
              <td class="description">260 mm Din Rail</td>
              <td class="item-no">18A0025</td>
              <td class="quantity">220</td>
              <td class="value">40</td>
              <td class="remark">(1 bag)</td>
            </tr>
            <tr>
              <td class="sr-no">9.</td>
              <td class="description">
                DIN RAIL CRCA 14MCB L=278 CD=262 K=11 MM 18A0026
              </td>
              <td class="item-no">18A0026</td>
              <td class="quantity">10</td>
              <td class="value">33</td>
              <td class="remark">(1 bag)</td>
            </tr>
            <tr>
              <td class="sr-no">10.</td>
              <td class="description">296 mm Din Rail</td>
              <td class="item-no">18A0027</td>
              <td class="quantity">200</td>
              <td class="value">23</td>
              <td class="remark">(1 bag)</td>
            </tr>
            <tr>
              <td class="sr-no">11.</td>
              <td class="description">314 mm Din Rail</td>
              <td class="item-no">18A0028</td>
              <td class="quantity">641</td>
              <td class="value">57</td>
              <td class="remark">(3 bag)</td>
            </tr>
            <tr>
              <td class="sr-no">12.</td>
              <td class="description">350 mm Din Rail</td>
              <td class="item-no">18A0030</td>
              <td class="quantity">110</td>
              <td class="value">26</td>
              <td class="remark">(1 bag)</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="footer">
      <div class="space"></div>
      <div class="labels">
        <span>Receiver's Sign. With Stamp</span>
        <span>For <b>Avi Electric Motors</b></span>
      </div>
    </div>
  </body>
</html>
